apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: infotek
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      initContainers:
      - name: git-clone
        image: alpine/git
        args:
        - clone
        - --single-branch
        - --
        - https://github.com/morozovsk/infotek.git
        - /app
        volumeMounts:
        - name: app-source
          mountPath: /app
      - name: composer-install
        image: composer:2
        command: ["composer", "install", "--ignore-platform-reqs", "--no-interaction", "--no-plugins", "--no-scripts", "--prefer-dist"]
        workingDir: /app
        volumeMounts:
        - name: app-source
          mountPath: /app
      - name: fix-permissions
        image: busybox
        command: ["sh", "-c", "chown -R 33:33 /app/runtime || mkdir -p /app/runtime && chown -R 33:33 /app/runtime"]
        volumeMounts:
        - name: app-source
          mountPath: /app
      containers:
      - image: morozovsk/infotek:latest
        imagePullPolicy: Always
        name: worker
        command: ["php", "yii", "queue/listen"]
        env:
        - name: MYSQL_HOST
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MYSQL_HOST
        - name: MYSQL_DATABASE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MYSQL_DATABASE
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_USER
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_PASSWORD
        - name: SMS_PILOT_API_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: SMS_PILOT_API_KEY
        - name: COOKIE_VALIDATION_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: COOKIE_VALIDATION_KEY
        - name: RABBITMQ_HOST
          value: "rabbitmq"
        - name: RABBITMQ_PORT
          value: "5672"
        - name: RABBITMQ_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: RABBITMQ_DEFAULT_USER
        - name: RABBITMQ_PASS
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: RABBITMQ_DEFAULT_PASS
        volumeMounts:
        - name: app-source
          mountPath: /app
      volumes:
      - name: app-source
        emptyDir: {}
